
textarea{resize: none;}

.btn-outline-warning:hover{color: #fff;}

img{
    width: 100px;
}

.form-container , h1 , tbody{
    
    color: rgb(116, 116, 116);
}

.input-form i , thead{
    color: #225281;
}

.successAlert{
    opacity: 0;
    cursor: default;
}

#deleteNotification{
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}